
.cardProductCart{
    height: 150px;
}

.cardProductCart img{
  height: 100%;
   object-fit: cover;
}

.containerImg{
    height: 100%;
}
.btnPurchase{
    background-color: rgb(248, 235,233);
}

.btnPurchase:hover{
background-color: rgba(248, 233, 245, 0.653);
}

.color1{
    background-color: rgb(255, 245, 247);
}

.btnCantProduct{
    width: 30px;
    background-color: rgb(220, 220, 220);
}