*{
    margin: 0;
    padding: 0;
}

main {
    font-family: "Playwrite AR", cursive;
    background: linear-gradient(rgba(255, 255, 255, 0.864), rgba(242, 242, 242, 0.56)),
        url("/img/img4.jpg") no-repeat center center fixed;
    background-size: cover;
}
h2{
    display: flex;
    justify-content: center;
}

.imgtort{
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: center;
}