.Cupcake {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
    padding: 40px;

}
.imgcup{align-items: center;
    width: 25vh;
}