header p {
  background-color: deeppink;
}
footer p {
  background-color: deeppink;
}
.contenedorProducto {
  display: flex;
}
.colorButtom {
  background-color: rgb(248, 235, 233);
}
.colorButtom:hover {
  background-color: rgba(248, 233, 245, 0.653);
}
.boxComentario {
  width: 30vh;
  height: 20vh;
}
