main {
    font-family: "Playwrite AR", cursive;

    background: linear-gradient(rgba(255, 255, 255, 0.864), rgba(242, 242, 242, 0.56)),
        url("/img/imagen-fondo.jpg") no-repeat center center fixed;
    background-size: cover;

}

.Cupcake {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.titdcategoriacup{
    display: flex;
    justify-content: center;
    padding: 40px;

}

.imgcup {
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: center;
}

.sabrell {
    background: linear-gradient(rgba(255, 255, 255, 0.864), rgba(242, 242, 242, 0.56)),
    url("/img/img2.jpg");
}

.Color {
    border-radius: 5px;
    background: rgba(206, 167, 202, 0.162);
}

.card {
    transition: 0.7s;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.7s;
}

.colorRosa {
    background-color: rgb(248, 235, 233);
}

.colorButtom {
    background-color: rgb(248, 235, 233);
}

.colorButtom:hover {
    background-color: rgba(248, 233, 245, 0.653);
}

.imgSize {
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: center;
}

.playwrite-ar {
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
}

@media only screen and (min-width: 1200px) {
.imgcup{
    width: 80%;
    height: 300px;
    }
}

