.Cupcake {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
    padding: 40px;

}
.imgcup{
    width: 60%;
}
p{
    text-align: center;
}
.sabrell{
    background-color: rgb(240, 219, 232);
}