main {
  font-family: "Playwrite AR", cursive;
  background: linear-gradient(rgba(255, 255, 255, 0.864), rgba(242, 242, 242, 0.56)),
    url("/img/imagen-fondo.jpg") no-repeat center center fixed;
  background-size: cover;
}

.btnError {
  background-color: rgb(248, 235, 247);
}

.btnError:hover {
  background-color: rgb(248, 233, 245, 0.653);
}