main {
  background: linear-gradient(
      rgba(255, 255, 255, 0.864),
      rgba(242, 242, 242, 0.56)
    ),
    url("/img/fondo.jpeg") no-repeat center center fixed;
  background-size: cover;
}

.imagen {
  width: 100%;
  height: 50vh;
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.btn {
  margin-left: 50%;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
}
