body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}
.colorFooter{
background-color: rgb(248, 235, 233);
}

.logoSize{
 width: 16vh;
 height: 16vh;
}

.socialSize{
  font-size: 23px;
}

a{
    text-decoration: none;
    color: black;
}
.playwrite-ar{
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight:50px ;
    font-style: normal;
  }