
nav{
    background-color:rgb(248, 235, 233);
}


.jost{
font-size: 21px;
font-family: "Jost", sans-serif;
font-optical-sizing: auto;
font-weight:100px;
font-style: normal;
}

.logohead{

width: 20vh;
height: 12vh;
}





