*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
main{
  background: linear-gradient(rgba(255, 255, 255, 0.864), rgba(242, 242, 242, 0.56)),
    url(/img/img4.jpg)
    no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formuarioregistro {
    background-color: rgba(71, 28, 199, 0.3);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(92, 93, 92, 0.3);
    border-radius: 10px;
  }
    .contenedorregistro {
    width: 500px;
    padding: 30px;}

  .inputcontenedor {
        /* display: flex; */
        /* align-items: center; */
        margin-bottom: 25px;
            }

  .inputfr{
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border-color: azure;
    background-color: rgb(237, 244, 239);
    backdrop-filter: blur(40px)
  }

