*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;}

main{
  background: linear-gradient(rgba(255, 255, 255, 0.864), rgba(242, 242, 242, 0.56)),
    url(/img/img4.jpg)
    no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formuarioregistro {
    border: 6px solid rgb(225, 211, 211);
    border-radius: 10px;
  }
    .contenedorregistro {
    width: 500px;
    padding: 30px;}

  .inputcontenedor {
        margin-bottom: 25px;
            }

  .inputfr{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border-color: azure;
    background-color: rgb(237, 244, 239);
    backdrop-filter: blur(40px)
  }
  h2{
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(45, 47, 48);
  }
  button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: rgb(187, 206, 110);
    border-color: rgb(56, 55, 43);
    cursor: pointer;
    font-size: 15px;}

