* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
main {
  background: linear-gradient(
      rgba(255, 255, 255, 0.864),
      rgba(242, 242, 242, 0.56)
    ),
    url("/img/fondo.jpg.jpeg") no-repeat center center fixed;
  background-size: cover;
}
.body {
  width: 100%;
  height: 100vh;
  background-image: url(/img/fondo.jpg.jpeg);
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.contact-box {
  max-width: 860px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;

  box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.19);
}
.left iframe {
  padding: 50px 50px;
  width: 480px;
  height: 480px;
}
.input-group {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 25px 40px;
}
.label {
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}
.h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  padding: 0.5rem 1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}
.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
textarea {
  min-height: 150px;
}
.btn {
  width: 100%;
  padding: 0.5rem 1rem;

  background-color: rgb(248, 235, 233);
  color: #000000;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background: rgba(248, 233, 245, 0.653);
}

@media screen and (max-width: 769px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left iframe {
    padding: 0;
  }
}

.container {
  background: linear-gradient(
      rgba(255, 255, 255, 0.864),
      rgba(242, 242, 242, 0.56)
    ),
    url(/img/fondo.jpg.jpeg) no-repeat center center fixed;
  background-size: cover;
}
body {
  font-family: "Roboto mono", monospace;
}
h2 {
  font-family: "Playwrite AR", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
input {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.label {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
p {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
button {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.form-txt {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
form {
  background-color: #fff5f7;
}
